<mat-card class="news-card">
    <img mat-card-image [ngClass]="{'large-image':detailed}" [src]="article.urlToImage" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <h1 class="article-title" (click)="readMore(article.id)">
            {{article.title}}
        </h1>
        <p>
            {{article.description}}
        </p>
        <span *ngIf="detailed">
            {{article.content}}
        </span>
    </mat-card-content>
    <mat-card-actions>
        <mat-icon class="calendar-icon">calendar_today</mat-icon>
        <span>{{article.publishedAt | date:'fullDate'}}</span>
    </mat-card-actions>
</mat-card>