$desktop:1280px;
    .news-card {
        margin: 20px;
        background-color: #fff;
        color: #000;
        width: 60vw;
        img {
          object-fit: cover;
          min-width: 100%;
          height: 30vh;
        }
        .large-image{
          height: 60vh;
          object-fit: fill;
        }
        mat-card-content{
          min-height: 50vh;
        }
        .calendar-icon{
          color: #489730;
        }
        .article-title{
          cursor: pointer;
        }
      }
      @media only screen and (min-width: $desktop) {
        .news-card{
          width: auto;
        }
      }
