$desktop: 1280px;
.footer {
  color: #565960;
  position: relative;
  width: 100%;
  background-color: #d9d9d9;
  color: #565960;
  margin: 0px;
}
@media only screen and (min-width: $desktop) {
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    > section {
      width: 100%;
      display: flex;
      flex-direction: row;
      > div {
        width: 30%;
        margin: 10px;
      }
    }
    .section-bottom{
        background-color: #338896;
    }
  }
}
