
$desktop: 1280px;

@mixin row-flex-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.news-item {
   @include row-flex-wrap();
}
.news{
    display: block;
}

@media only screen and (min-width: $desktop) {
    .news{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }    
    .news-item {
        @include row-flex-wrap();
        width: 33%;
     }
}