
.paginator{
    display: flex;
    justify-content: center;
    margin: 10px;
 mat-paginator{
    background-color: #fff;
    color: #000;
 }
}
mat-spinner{
   margin-top: 60px;
   margin-left: 35%;
}
