.sub-page{
    font-size: 10px;
    margin-left: 20px;
    font: normal normal 200 14px  Roboto, "Helvetica Neue", sans-serif;
}
.nav-item{
    cursor: pointer;
}
.main-page{
    font: normal normal 600 20px  Roboto, "Helvetica Neue", sans-serif;
}