.sw-sidenav{
    background-color: #338896;
    width: 20%;
    top: 65px;
    min-height:100vh
    
  }
  .mat-drawer-container[fullscreen]{
    position: relative;
  }
  ::ng-deep {
    .mat-drawer-inner-container{
      overflow: hidden !important;
      color: #000 !important;
    }
    .mat-drawer-content{
      background-color: #EFEFEF;
    }
  }