.sw-sidenav{
    background-color: #338896;
    width: 20%;
  }
  ::ng-deep {
    .mat-drawer-inner-container{
      overflow: hidden !important;
      color: #000 !important;
    }
    .mat-drawer-content{
      background-color: #EFEFEF;
    }
    .mat-sidenav-content{
      width: calc(100% - (3*60px)); 
      padding: 30px 145px;
    }
    }