.sw-sidenav{
    background-color: lightslategrey;
    width: 20%;
    top: 65px;
    min-height:100vh
    
  }
  .mat-drawer-container[fullscreen]{
    position: relative;
  }
  ::ng-deep .mat-drawer-inner-container{
    overflow: hidden !important;
  }