<div class="page">

    <div class="carousel">
        <app-carousel></app-carousel>
    </div>
    <div class="page-title">
        <h1>Latest News</h1>
    </div>
    <app-news-list [articles]="articles"></app-news-list>
    <div class="home-footer">
        <img src="assets/carousel-three.jpg" id="responsive-image" loading="lazy">
        <div class="centered">
            <h1>
                How have we helped?
            </h1>
            <p>See how AI Foundation have promoted chnage locally and to the world</p>
        </div>
    </div>
</div>
