/* You can add global styles to this file, and also import other style files */

html {
  background-color: #efefef;
 
}
body {
  height: 100vh;
  background-color: #efefef;
  margin: 0px auto;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - (2*60px)); 
  margin-top: 50px;
  color: #000;
  .page-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1{
      font:500 34px/42px Roboto, "Helvetica Neue", sans-serif;
    }
  }
}
.mat-toolbar {
  background-color: #338997;
}