$desktop: 1280px;

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.flex-container > .FormCell {
  margin: 10px;
  width: 100%;
  > mat-form-field {
    width: 100%;
  }
}
::ng-deep{
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #efefef;
  background-color: white;
}
.mat-form-field {
  .mat-input-element,.mat-input-element::placeholder{
    color: #A6A7AB;
  }

}
.mat-form-field-empty.mat-form-field-label {
  color: #A6A7AB;
} 
}


@media only screen and (min-width: $desktop) {
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex-container > .FormCell {
    margin: 10px;
    width: 35%;
    > mat-form-field {
      width: 100%;
    }
  }
  .search-btn {
    background: #8dc043 0% 0% no-repeat padding-box;
    border-radius: 0px 5px 5px 0px;
    opacity: 1;
    margin: -10px;
    width: 3.5em !important;
    height: 3.7em !important;
  }
}
